# Adresse d’écoute locale de oauth2-proxy
http_address   = "{{ http_address_oauth2 }}:{{ port_oauth2 }}"
reverse_proxy  = true

########################################
# Auth via Keycloak (OIDC)
########################################
provider        = "{{ provider }}"
oidc_issuer_url = "{{ oidc_issuer_url }}"

client_id     = "{{ client_id_mindefconnect_kib }}"
client_secret = "{{ client_secret_mindefconnect_kib }}"

# URL de callback déclarée dans le client Keycloak
redirect_url = "{{ redirect_url }}"

# Scope openid seulement autorisé
scope         = "{{ scope }}"
email_domains = [ "*" ]

# Forcer la ré-authentification systématique
prompt = "login"

########################################
# Cookies de session oauth2-proxy
########################################
cookie_name     = "{{ cookie_name }}"
cookie_secret   = "{{ cookie_secret }}"
cookie_secure   = true
cookie_httponly = true
cookie_samesite = "{{ cookie_samesite }}"

# Durée de vie de la session côté oauth2-proxy
cookie_expire   = "{{ cookie_expire }}"

# Rafraîchissement via /token (refresh_token)
# "0" pour désactiver.
cookie_refresh  = "{{ cookie_refresh }}"

# Obligatoire pour stocker access_token + refresh_token + id_token
session_cookie_minimal = false

########################################
# Intégration Nginx auth_request
########################################
set_xauthrequest = true
set_basic_auth            = false
pass_authorization_header = false
pass_user_headers         = true

# Pas de backend applicatif, juste une passerelle d’auth
upstreams = [ "file:///dev/null" ]

########################################
# Logout OIDC via Keycloak
########################################

# {id_token} sera remplacé par l’id_token du user par oauth2-proxy

backend_logout_url = "{{ backend_logout_url  }}"

# Autoriser les redirections vers les domaines internes
whitelist_domains = "{{ whitelist_domains }}"

# Activation PKCE (code challenge plain et S256)
code_challenge_method = "{{ code_challenge_method }}"

########################################
# Logs
########################################
standard_logging   = true
request_logging    = true
auth_logging       = true
show_debug_on_error = true
