###################################################
# repmgr sample configuration file
###################################################

{% set primary = (groups['postgresql_primary'] | first) %}
{% set primary_ip = (
  hostvars[primary]['ansible_facts']['default_ipv4']['address']
  | default(hostvars[primary]['ansible_default_ipv4']['address'])
) | mandatory %}

node_id=1
node_name='node1'
conninfo='host={{ primary_ip }} user={{ postgres_user_repmgr }} dbname={{ postgres_bdd_repmgr }} connect_timeout=2'
data_directory='/var/lib/pgsql/17/data'
pg_bindir='/usr/pgsql-17/bin/'
ssh_options='-q -o ConnectTimeout=10'
failover='automatic'
promote_command='/usr/pgsql-17/bin/repmgr -f /etc/repmgr/17/repmgr.conf standby promote --log-to-file'
follow_command='/usr/pgsql-17/bin/repmgr -f /etc/repmgr/17/repmgr.conf standby follow --log-to-file'
log_file='/var/log/repmgr.log'

use_replication_slots=yes
monitoring_history=yes
reconnect_attempts=3
reconnect_interval=10

service_start_command='systemctl start postgresql-17'
service_stop_command='systemctl stop postgresql-17'
service_restart_command='systemctl restart postgresql-17'
service_reload_command='systemctl reload postgresql-17'
