#!/bin/bash

read request
IP=$(echo "$request" | awk '{print $2}' | cut -d'/' -f2 | tr -d '\r')
PG_HOST=$IP
PG_USER="{{ postgres_user_repmgr }}"
PG_DB="{{ postgres_bdd_repmgr }}"

result=$(psql -h "$PG_HOST" -U "$PG_USER" -d "$PG_DB" -t -c "SELECT pg_is_in_recovery();" 2>&1)
result=$(echo "$result" | xargs)

if [[ "$result" == "f" ]]; then
  echo -e "HTTP/1.1 200 OK\r\nContent-Length: 7\r\n\r\nPrimary"
elif [[ "$result" == "t" ]]; then
  echo -e "HTTP/1.1 200 OK\r\nContent-Length: 7\r\n\r\nStandby"
else
  len=$(echo -n "$result" | wc -c)
  echo -e "HTTP/1.1 500 Internal Server Error\r\nContent-Length: $len\r\n\r\n$result"
fi
