nom: {{ nom }}
trigramme: {{ trigramme }}
version: {{ version }}
versionApi: {{ api_obs_version_api }}
dateVersion: {{ date_version }}
environnement: {{ environnement }}
classificationMaxDonnees: {{ classification_max_donnees }}
{{ { "mentions": mentions } | to_nice_yaml }}
niveauArr: {{ niveau_arr }}
niveauService: {{ niveau_service }}
typeHomologation: {{ type_homologation }}
dateFinHomologation: {{ date_fin_homologation}}
directionSystemeInformation: {{ direction_systeme_information }}
directionApplication: {{ direction_application }}
{% if date_fin_hebergement is defined %}
dateFinHebergement: {{ date_fin_hebergement }}
{% endif %}

