global
  log /dev/log local0
  maxconn 2000
  user haproxy
  group haproxy
  daemon

defaults
  log     global
  option  dontlognull
  timeout connect 5s
  timeout client  10s
  timeout server  10s

# === Postgresql frontend ===
frontend postgres_front
  bind *:5432
  default_backend postgres_backend

backend postgres_backend
  option httpchk GET /
  http-check expect string Primary
  server pg1 {{ haproxy_backend_servers[0].ip }}:5432 check port 9200 inter 2s fall 2 rise 1
  server pg2 {{ haproxy_backend_servers[1].ip }}:5432 check port 9200 inter 2s fall 2 rise 1

# === Elasticsearch frontend ===
frontend elasticsearch
    bind *:9200
    default_backend elasticsearch_cluster

backend elasticsearch_cluster
    mode tcp
    option ssl-hello-chk
    balance roundrobin
{% for h in groups['elasticsearch_cluster'] %}
    server es{{ loop.index }} {{ hostvars[h].ansible_host }}:9200 check
{% endfor %}

listen stats
  bind *:8404
  mode http
  stats enable
  stats uri /stats
  stats refresh 10s
